@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

:root{
  --cor-fundo: white;
  --cor-fundo-invertido: black;
  --cor-texto: black;
  --cor-texto-invertido: white;
  --cor-borda: #dcdcdcb0;
  --cor-fundo2: #c7f304;
  --cor-fundo-produto: #F4F4F4;
}

* { 
  margin: 0; 
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  color: var(--cor-texto);
 }

 .top-header{
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--cor-texto-invertido);
  background-color: var(--cor-fundo-invertido);
  height: 42px;
  font-size: smaller;
 }

 #texto-header{
  letter-spacing: 0.1rem;
 }

 .midle-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  width: 80vw;
  height: 100px;
 }

 .logo img{
  max-height: 40px;
  margin: auto;
 }

 .barra{
  width: 500px;
  height: 45px;
  border-radius: 30px;
  border:1px solid var(--cor-borda);
 }
 
 .barra:hover{
  box-shadow: 1px 1px 8px 1px #dcdcdc;
 }

 .barra:focus-within{
  box-shadow: 1px 1px 8px 1px #dcdcdc;
  outline:none;
 }

 .barra-pesquisa{
  width: 450px;
  height: 43px;
  border-radius: 30px 0px 0px 30px;
  border: none;
  outline: none;
  padding: 20px;
 }

 .lupa{
  height:17px;
  position:relative;
  top: 4px;
  left: 4px;
}

.conta{
  display: flex;
  justify-content: space-between;
  padding: 5px;
  border-radius: 6px;
}

.conta img{
  max-height: 25px;
  margin: 5px 13px 5px 13px;
}

.conta img :hover{
  transform: scale(1.5);
  background-color: #c7f304;
}

.fundo-categorias{
  width: 100vw;
  display: flex;
  justify-content: center;
  border-top: 1px solid var(--cor-borda);
  border-bottom: 1px solid var(--cor-borda);
}

.categorias{
  width: 80vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  height: 50px;
}

.categorias a{
  text-decoration: none;
}

.categorias a:hover{
  padding: 15px 0px 15px 0px;
  border-bottom: 3px solid lime;
}

.categorias a::after{
  content: '';
  position: absolute;
  width: 0px;
  height: 5px;
  left: 50%;
  bottom:0;
  background-color: rgb(255, 255, 255);
  transition: all ease-in-out .2s;
}
.categorias a:hover::after{
  width: 100%;
  left: 0;
}


.banner video{
  width: 100vw;
}

.category-name{
  font-weight: bolder;
  margin-bottom: 2rem;
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.produto-container{
  height: auto;
  padding: 20px 0px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0% 9% 0%;
}

.produto-banner{
  width: 330px;
  min-height: 550px;
  border-radius: 10px;
  background-color: var(--cor-fundo-produto);
  cursor: pointer;
  transition: transform .2s;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.produto-banner:hover{
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.foto-produto{
  width: 100%;
  height: 14rem;
  background-color: var(--cor-fundo-produto);
  margin: auto;
  border-radius: 5px;
}

.foto-produto img{
  width: 100%;
}

.botao-comprar{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #5cd15e;
  border: none;
  border-radius: 6px;
  width: 80%;
  height: 2.4rem;
  transition: transform .2s;
  text-decoration: none;
}

.botao-comprar:hover{
  background-color: #4fa550;
  transform: scale(1.03);
  color: white;
}

.nome-produto{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 10px 0px 5px 0px;
}


.valor{
  height: 6rem;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


